{% load static %}
<footer class="w3-container w3-theme w3-padding-32" style="padding-left:32px">
    <div class="w3-row">
        <div class="w3-quarter">
            <h4>Redes Sociales</h4>
            <a href="#"><i class="fa fa-facebook-square w3-xxlarge w3-margin-right w3-hover-text-white w3-text-light-grey"></i></a>
            <a href="#"><i class="fa fa-twitter-square w3-xxlarge w3-margin-right w3-hover-text-white w3-text-light-grey"></i></a>
            <a href="#"><i class="fa fa-youtube-square w3-xxlarge w3-hover-text-white w3-text-light-grey"></i></a>
        </div>
        <div class="w3-quarter">
            <h4>Contactos</h4>
            <p>centrofbc@cfbc.com<br><small class="w3-tiny w3-opacity">Email</small></p>
            <p>info@cfbc.com<br><small class="w3-tiny w3-opacity">Email</small></p>
            <p>+53 5 385 19 02<br><small class="w3-tiny w3-opacity">Atención</small></p>
        </div>
        <div class="w3-quarter">
            <h4>Enlaces interes</h4>
            <a class="w3-text-light-grey" href="#">Dominicos</a><br>
            <a class="w3-text-light-grey" href="#">Sapere Aude</a><br>
            <a class="w3-text-light-grey" href="#">Juventud Tecnica</a>
        </div>
        <div class="w3-quarter">
            <h4>Sobre Nosotros</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Asperiores minima sequi, fuga eius vero eveniet ea, 
                iste doloribus eaque non corrupti vel ullam nostrum magnam incidunt enim assumenda, 
                possimus quia!
            </p>
        </div>
    </div>
</footer>