{% extends './admindashboard.html' %}}
{% load thumbnail %}
{% load static %}
{% block dashboard_content %}
<div class="py-2">
    <div class="row py-2 g-2">
        <div class="border-bottom mb-3">
            <h5>
                <a href="{% url 'plataforma_admin_course' course.slug %}" class="">
                    <i class="fas fa-arrow-left"></i>
                </a> {{ course.name }} / Nuevo Grupo
            </h5>
        </div>
        <div class="col-sm-8">
            <input class="form-control" placeholder="Grupo A" id="namenewgroup" data-course="{{ course.slug }}">
            <button type="button" class="btn btn-sm btn-primary mt-1" onclick="createGroup()">
                <i class="fa fa-plus"></i> Crear
            </button>
        </div>
    </div>
</div>
{% endblock dashboard_content %}

{% block importScripts %}
    <script defer src="{% static 'letran/js/admindashboard.js' %}"></script>
{% endblock importScripts %}
    
{% block scripts %}
 const creategroupurl = "{% url 'api_plataforma_admin_crear_grupo' %}"
 const urlcourse = "{% url 'plataforma_admin_course' course.slug %}"
{% endblock scripts %}