{% extends './admindashboard.html' %}}
{% load thumbnail static %}

{% block header %}
    <h5>
        <a href="{% url 'plataforma_admin_course' group.course.slug %}" class="link-light">
            <i class="fas fa-arrow-left"></i>
        </a> {{ group.course.name }} / Grupo / {{ group.name|capfirst }} / Asistencia
    </h5>
{% endblock header %}
    
{% block dashboard_content %}
<div class="py-2">
    <div class="row py-2 g-2">
        <div class="col-sm-12">
            <div class="d-flex my-3">
                <div class="border border-danger rounded py-1 px-2 mr-2">
                    <h6 class="my-auto text-danger">
                        <span id="inasistenciasTotal">3</span> Inasistencia<span class="pluralize"></span></h6>
                </div>
                <div class="border border-success rounded py-1 px-2 mr-2">
                    <h6 class="my-auto text-success">
                        <span id="asistenciasTotal">23</span> Asistencia<span class="pluralize"></span></h6>
                </div>
            </div>
            
            {% for student in group.students.all %}
                <div class="card col-sm-4">
                    <div class="card-body">
                        <h5>{{ student.fullname }}<br><small class="text-muted">Nombre</small></h5>
                    </div>
                    <div class="card-footer">
                        <div class="d-flex justify-content-center align-items-center">
                            <div class="border border-danger rounded py-1 px-2 mr-2">
                                <h6 class="my-auto text-danger">3</h6>
                            </div>
                            <select class="form-select w-100">
                                <option value="0">Asistencia Manual</option>
                                <option value="a">Asistencia</option>
                                <option value="i">Inasistencia</option>
                            </select>
                        </div>                        
                    </div>
                </div>
            {% empty %}
                <div class="alert alert-danger" role="alert">
                    No hay estudiantes en el grupo. 
                    <a href="#" class="link-danger">Crear Grupo</a>
                </div>
            {% endfor %}         
        </div>
    </div>
</div>
{% endblock dashboard_content %}

{% block importScripts %}
    <script defer src="{% static 'letran/js/admindashboard.js' %}"></script>
{% endblock importScripts %}
    
{% block scripts %}
{% endblock scripts %}