{% extends './admindashboard.html' %}}
{% load thumbnail %}
{% load extras %}
{% block dashboard_content %}
<div class="py-2">
    <div class="row py-2 g-2">
        <div class="border-bottom mb-3">
            <h5>
                <a href="{% url 'plataforma_admin_index' %}" class="">
                    <i class="fas fa-arrow-left"></i>
                </a> {{ course.name }}
            </h5>
        </div>
        <div class="col-sm-4">
            <a href="{% url 'plataforma_admin_recursos' course.slug %}">
                <div class="card text-center h-100 ">
                    <div class="card-body">
                        <h5 class="card-title align-middle"><i class="far fa-file"></i> Recursos</h5>                        
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-4">
            <a href="{% url 'plataforma_admin_comunicate' course.slug %}">
                <div class="card text-center h-100 ">
                    <div class="card-body">
                        <h5 class="card-title align-middle"><i class="fas fa-bullhorn"></i> Comunicado</h5>                        
                    </div>
                </div>
            </a>
        </div>
        
        {% adminTeacher course.slug teacher.pk as isAdminTeacher %}
        {% if isAdminTeacher %}
            <div class="col-sm-4">
                <a href="{% url 'plataforma_admin_studentslist' course.slug %}">
                    <div class="card text-center h-100 ">
                        <div class="card-body">
                            <h5 class="card-title align-middle"><i class="fas fa-users"></i> Estudiantes</h5>                        
                        </div>
                    </div>
                </a>
            </div>
        {% endif %}
        
        {% for subject in course.getSubjects|teacher:teacher.pk %}                
            <div class="col-sm-4">
                <div class="card text-center h-100">
                    <div class="card-body">
                        <h5 class="card-title">{{ subject.name }}</h5>
                        <small>{{ subject.mode }}</small>
                    </div>
                    <div class="card-footer">
                        <div class="btn-group" role="group" aria-label="">
                            <a href="{% url 'plataforma_admin_subject' subject.slug %}" 
                            role="button" class="btn btn-outline-primary btn-sm">
                                Clases
                            </a>
                            <a href="{% url 'plataforma_admin_assistence' subject.slug %}" 
                            class="btn btn-outline-primary btn-sm" role="button">
                                Asistencia    
                            </a>
                            <a  href="{% url 'plataforma_adminmessages' subject.slug %}" 
                            role="button" class="btn btn-outline-primary btn-sm">
                                Mensajes
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}            
    </div>

    <!-- <div class="row py-2 g-2 border-top mt-1">
        <h3 class="my-1">Grupos</h3>
        <div class="col-sm-4">
            <a href="{% url 'plataforma_admin_crear_grupo' course.slug %}">
                <div class="card text-center h-100">
                    <div class="card-body justify-content-center align-items-center">
                        <h5 class="card-title justify-content-center align-items-center">
                            <i class="fa fa-plus"></i> Crear
                        </h5>
                    </div>
                </div>
            </a>
        </div>
        {% for group in course.getGroups %}
            <div class="col-sm-4">
                <div class="card text-center h-100">
                    <div class="card-body">
                        <h5 class="card-title">{{ group.name }}</h5>
                    </div>
                    <div class="card-footer">
                        <div class="btn-group" role="group" aria-label="Basic outlined example">
                            <a href="{% url 'plataforma_admin_grupo' group.slug %}" 
                            type="button" class="btn btn-outline-primary btn-sm">
                                Asistencia
                            </a>
                            <a href="#" 
                            type="button" class="btn btn-outline-primary btn-sm">
                                Evaluaciones
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div> -->
</div>
{% endblock %}

{% block modal %}
{% endblock modal %}
    
{% block scripts %}
 const comunicadourl = "{% url 'plataforma_admin_comunicado' %}"  
 const creategroupurl = "{% url 'api_plataforma_admin_crear_grupo'%}"
{% endblock scripts %}