{% extends './admindashboard.html' %}

{% block header %}
    <h5>
        <a href="{% url 'plataforma_admin_index' %}" class="link-light">
            <i class="fas fa-arrow-left"></i>   
        </a> Comprobar Pagos
    </h5>
{% endblock header %}
    
{% block dashboard_content %}
<div class="py-2">
    <div class="row py-2 g-2">
        <form class="my-3" action="." method="POST">
            {% csrf_token %}
            {{ form.txt }}
            <input type="submit" id="id_salvar" class="btn btn-primary mt-3" value="Subir" >
        </form>
    </div>
</div>
{% endblock dashboard_content %}