{% extends './admindashboard.html' %}}
{% load thumbnail extras static %}
{% block dashboard_content %}
    <div class="border-bottom mb-3">
        <h5>
            <a href="{% url 'plataforma_admin_subject' subject.slug %}" class="">
                <i class="fas fa-arrow-left"></i></a> {{ subject.course.name }} / {{ subject.name}} / Tareas
        </h5>
    </div>
    <nav aria-label="Page navigation example">
        <ul class="pagination pagination-sm justify-content-center">
            <li class="page-item {% if page_obj.has_previous %}{% else %}disabled{% endif %}">
                <a class="page-link" href="{% if page_obj.has_previous %}?page=1{% endif %}" aria-label="Previous">
                    <span aria-hidden="true"><i class="fa fa-angle-double-left"></i></span>
                </a>
            </li>
            <li class="page-item {% if page_obj.has_previous %}{% else %}disabled{% endif %}">
                <a class="page-link" href="{% if page_obj.has_previous %}?page={{ page_obj.previous_page_number }}{% endif %}" aria-label="Previous">
                    <span aria-hidden="true"><i class="fa fa-angle-left"></i></span>
                </a>
            </li>
            <li class="page-item disabled">
                <a class="page-link" href="#">Tareas {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</a>
            </li>
            <li class="page-item {% if page_obj.has_next %}{% else %}disabled{% endif %}">
                <a class="page-link" href="{% if page_obj.has_next %}?page={{ page_obj.next_page_number }}{% endif %}" aria-label="Next">
                    <span aria-hidden="true"><i class="fa fa-angle-right"></i></span>
                </a>
            </li>
            <li class="page-item {% if page_obj.has_next %}{% else %}disabled{% endif %}">
                <a class="page-link" href="{% if page_obj.has_next %}?page={{ page_obj.paginator.num_pages }}{% endif %}" aria-label="Next">
                    <span aria-hidden="true"><i class="fa fa-angle-double-right"></i></span>
                </a>
            </li>
        </ul>
    </nav>

    {% if messages%}
        {% for message in messages %}                                        
            {% ifequal message.level 40 %}
                <div class="alert alert-danger" role="alert">
                    {{ message }}
                </div>
            {% endifequal %}
        {% endfor %}
    {% endif %}

    <div class="alert alert-warning" role="alert">
        Las notas se guardan de forma automática. La base de las notas es 10 puntos, aprobado 6 puntos. En <a href="{% url 'plataforma_admin_registro' subject.slug %}">Registro</a> puede chequear el recorrido del estudiante.
    </div>

    {% if page_obj %}
        <div class="table-responsive">
            <table class="table table-striped table-sm">
                <thead>
                    <tr>
                        <th>Estudiante</th>
                        <th>Clase</th>
                        <th>Fecha</th>
                        <th>Archivo</th>
                        <th>Nota</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for hw in page_obj %}
                        <tr>
                            <td>{{ hw.student.fullname }}</td>
                            <td>{{ hw.clase.name }}</td>
                            <td>{{ hw.datepub }}</td>
                            <td><a target="_blank" href="{{ hw.file.url }}" class="btn btn-outline-dark btn-sm w-100">
                                <i class="fas fa-file-download"></i> {{ hw.name }}</a>
                            </td>
                            <td>
                                <select name="nota" id="id_nota_{{ hw.pk }}" class="form-select" data-hw="{{ hw.pk }}">
                                    <option value="5" {% if hw.note < 5 %}selected{% endif %} disabled>Seleccionar Nota</option>
                                    <option {% if hw.note == 5 %}selected{% endif %} value="5">5</option>
                                    <option {% if hw.note == 6 %}selected{% endif %} value="6">6</option>
                                    <option {% if hw.note == 7 %}selected{% endif %} value="7">7</option>
                                    <option {% if hw.note == 8 %}selected{% endif %} value="8">8</option>
                                    <option {% if hw.note == 9 %}selected{% endif %} value="9">9</option>
                                    <option {% if hw.note == 10 %}selected{% endif %} value="10">10</option>
                                </select>
                            </td>
                            <td>
                                <button class="btn btn-sm btn-danger" data-slug="{{ hw.slug }}">
                                    <div class="spinner-grow spinner-grow-sm invisible" role="status">
                                    </div>
                                    <i class="fas fa-trash-alt"></i>
                                </button>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
    <div class="alert alert-warning" role="alert">
        No hay tareas para mostrar
    </div>
    {% endif %}
    <div id="id_toast" class="toast fixed-top my-5 mx-2" data-delay="2000" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header bg-success text-white">
            <strong class="mr-auto"><i class="fa fa-check fa-lg mr-2"></i> ¡Nota Enviada!</strong>
            <small class="">Ahora</small>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="toast-body">
            Se ha actualizado la nota del estudiante
        </div>
    </div> 
{% endblock dashboard_content %}

{% block importScripts %}
    <script defer src="{% static 'letran/js/adminhomework.js' %}"></script>
    <script defer src="{% static 'letran/js/homeworks.js' %}"></script>
{% endblock importScripts %}


{% block scripts %}
    const urlnote = "{% url 'api_plataforma_admin_homework' %}"
    const urldelete = "{% url 'api_plataforma_delete_homework' %}"
{% endblock scripts %}