{% extends './dashboard.html' %}
{% load static %}
{% block dashboard_content %}
    <div class="border-bottom mb-3">
        <h5><a href="{% url 'plataforma_subject' clase.subject.slug %}" class=""><i class="fas fa-arrow-left"></i></a> {{ clase.subject.course.name }} / {{ clase.subject.name }} / {{ clase.name }}</h5>
    </div>    
    <small class="text-muted">{{ clase.datepub|date:"D d M y" }}</small>

    <div class="ckeditor row" data-classname="{{ clase.slug }}">
        {{ clase.classbody|safe }}
    </div>
    <div class="row m-2 g-2 border-top">
        <div>
            <button type="button" id="exportpdf" class="btn btn-primary btn-sm"><i class="fas fa-file-download"></i> PDF</button>
        </div>
        <div>
            <a class="btn btn-primary btn-sm" target="_blank" href="{% url 'plataforma_homework' clase.slug %}"> Subir Tarea</a>
        </div>

        <div class="col-12">
            <p class="h6">Recursos</p>
            <p class="text-muted">Puede descargar los recursos. No tiene permisos de ditribuirlos. Están sujetos a derecho de autor.</p>
        </div>       
        
        {% for recurso in clase.resources.all %}   
            <div class="col-12 col-md-6 col-lg-4 p-2 border">
                <a target="_blank" href="{% url 'plataforma_recurso' recurso.slug %}">
                    <i class="far
                {% if recurso.tipo == 'html' or recurso.tipo == 'css' or recurso.tipo == 'js' or recurso.tipo == 'python' %} 
                 fa-file-code
                {% endif %}                
                {% if recurso.tipo == 'audio' %}
                 fa-file-audio
                {% endif %}                
                {% if recurso.tipo == 'video' %}
                 fa-file-video
                {% endif %}
                {% if recurso.tipo == 'imagen' %}
                 fa-file-image
                {% endif %}                
                {% if recurso.tipo == 'documento' or recurso.tipo == 'conferencia' or recurso.tipo == 'programa' or recurso.tipo == 'reglamento' %}
                 fa-file-alt 
                {% endif %}                    
                "></i> {{ recurso.name }}</a>
            </div>
        {% endfor %}
    </div>
    <a href="{% url 'plataforma_messages' clase.subject.slug %}" class="float">
        <i class="fa fa-comments"></i>
    </a>
{% endblock dashboard_content %}

{% block importScripts %}
<script defer src = "https://raw.githack.com/eKoopmans/html2pdf/master/dist/html2pdf.bundle.js"></script>
<script defer src="{% static 'letran/js/exportPDF.js' %}"></script>
{% endblock importScripts %}
    
    
