{% extends './dashboard.html' %}
{% load thumbnail humanize %}
{% block dashboard_content %}
<div>
    <div class="row py-2 g-2">
        <div class="border-bottom mb-3">
            <h5><a href="{% url 'plataforma_dashboard' %}" class=""><i class="fas fa-arrow-left"></i></a> {{ app.course.name }}</h5>
        </div>
        
        {% if not app.paid and not app.beca %}
            <div class="alert alert-danger">
                <h5>Pago de Matrícula</h5>
                <p>
                    Nuestro Centro de Estudios no cobra por ninguno de los cursos, ofreciendo así, todos sus servicios de docencia de forma gratuita. No obstante, los gastos de matrícula y secretaría deben ser abonados oportunamente al iniciar cada curso y hacerse formal la admisión en nuestro Centro. Este pago es único y se realiza al iniciar el curso correspondiente.
                    <br><br><a class="btn btn-sm btn-dark" href="{% url 'plataforma_communicatepay' app.course.slug %}">Pagar Matrícula</a>
                </p>
                <hr>
                <small class="mb-0">El proceso de verificación de la transferencia puede tardar varios días.</small>
            </div>
        {% endif %}
            
        {% if app.course.comunicate %}
            <div class="alert alert-success" role="alert">
                <h4 class="alert-heading">¡Información Importante!</h4>
                <p>{{ app.course.comunicate|safe|linebreaksbr }}</p>
                <hr>
                <p class="mb-0"><small>CAMPUS VIRTUAL · Este comunicado es solo visible para los estudiantes de {{ app.course.name|capfirst }}.</small></p>
            </div>
        {% endif %} 

        <div class="col-sm-4">
            <a href="{% url 'plataforma_recursos' app.course.slug %}">
                <div class="card text-center h-100 ">
                    <div class="card-body">
                        <h5 class="card-title align-middle">Recursos</h5>                        
                    </div>
                </div>
            </a>
        </div>    

        <div class="col-sm-4">
            <a href="{% url 'plataforma_homeworks' app.course.slug %}">
                <div class="card text-white bg-dark text-center h-100">
                    <div class="card-body">
                        <h5 class="card-title align-middle">Tareas</h5>
                    </div>
                </div>
            </a>
        </div>
        
        {% for enrollment in enrollments %}
    
            {% if enrollment.subject.getCurrentClasses|length > 0 %}        
                <div class="col-sm-4">
                    <div class="card text-center h-100 
                    {% if enrollment.absence < 4 %}                    
                        {% if enrollment.absence == 3 %}
                            border-danger                        
                        {% endif %}
                        {% if enrollment.absence == 2 %}
                            border-warning                        
                        {% endif %}                        
                    {% else %}
                        text-white bg-danger                    
                    {% endif %}
                        ">
                        <div class="card-body">
                            <h5 class="card-title">{{ enrollment.subject.name }}</h5>
                            <small>{{ enrollment.subject.mode }} | 
                                {% if enrollment.absence > 0 %}                            
                                    {% if enrollment.absence == 1 %}Una{% else %}{{ enrollment.absence|apnumber|capfirst }}{% endif %} inasistencia{{ enrollment.absence|pluralize }}
                                {% else %}
                                    Sin inasistencias
                                {% endif %} 
                                {% if enrollment.nota > 0 %}
                                     | {{ enrollment.nota }}
                                {% endif %}
                                   
                            </small>
                        </div>
                        <div class="card-footer">
                            {% if enrollment.absence < 4 %}
                                <div class="btn-group" role="group" aria-label="Basic outlined example">
                                    <a role="button" class="btn btn-outline-primary btn-sm" href="{% url 'plataforma_subject' enrollment.subject.slug %}" >
                                        Clases <span class="badge bg-secondary">{{ enrollment.subject.getCurrentClasses|length }}</span>
                                    </a>
                                    <!-- <a href="{% url 'plataforma_messages' enrollment.subject.slug %}" 
                                    role="button" class="btn btn-outline-primary btn-sm">
                                        Mensajes 
                                        <span class="badge bg-danger">10</span>
                                    </a> -->
                                </div>
                            {% else %}
                                <p>Ha excedido el número de inasistencias.</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}