
{% extends './base.html' %}
{% load static %}
{% block titleHead %}Administración{% endblock titleHead %}
{% block importCSS %}
    <!-- View -->
    <link rel="stylesheet" href="{% static 'bootstrap/css/dashboard.css' %}">
    {% comment %} <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"> {% endcomment %}
{% endblock importCSS %}
{% block contenido %}
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="{% url 'index' %}">
            CFBC
        </a>
        <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <input id="id_buscar" list="datalistOptions" class="form-control form-control-dark w-100" type="text" placeholder="Buscar ..." aria-label="Buscar">
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <a class="nav-link" href="{% url 'logout' %}">Cerrar Sessión</a>
            </li>
        </ul>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
                <div class="position-sticky pt-3">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">
                            <span data-feather="home"></span>
                            Inicio
                        </a>
                    </li>
                    <li class="nav-item">
                        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                            <span>Mis Cursos</span>
                        </h6>
                        <ul class="nav flex-column mb-2">
                            {% for app in apps %}                                
                                <li class="nav-item">
                                    <a class="nav-link" href="#">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file-text"><path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path><polyline points="14 2 14 8 20 8"></polyline><line x1="16" y1="13" x2="8" y2="13"></line><line x1="16" y1="17" x2="8" y2="17"></line><polyline points="10 9 9 9 8 9"></polyline></svg>
                                        {{ app.course.name }}
                                    </a>
                                </li>
                                
                                {% for subject in app.course.subjects %}
                                    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 ml-2 mt-1 mb-1 text-muted">
                                        <span>{{ subject.name }}</span>
                                    </h6>
                                    <ul class="nav flex-column mb-2 ml-2">
                                    {% for clase in subject.classes %}
                                        <li class="nav-item">
                                            <a class="nav-link text-capitalize" href="{% url 'plataforma_clase' clase.slug %}">
                                                {{ clase.name }}
                                            </a>
                                        </li>
                                    {% endfor %}
                                    </ul>
                                        
                                {% endfor %}
                                    
                            {% endfor %}
                        </ul>
                    </li>
                    <li class="nav-item border-top">
                        <a class="nav-link" href="{% url 'pwdreset' %}">
                            <span data-feather="bookmark"></span>
                            Gestión Contraseña
                        </a>
                    </li>
                </ul>
                </div>
            </nav>

            <main class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2">Hola {{ student.name }}</h1>
                </div>
                

                 {% if messages%}
                    {% for message in messages %}
                                                    
                        {% ifequal message.level 40 %}
                            <div class="alert alert-danger lg" role="alert">
                                {{ message }}
                            </div>
                        {% endifequal %}
                            
                    {% endfor %}
                {% endif %}

                
                {% block dashboard_content %}
                {% endblock dashboard_content %}
            </main>
                
        </div>
    </div>
{% endblock contenido %}

{% block importScripts %}
    <script defer src="{% static 'letran/js/ajaxdjango.js' %}"></script>
{% endblock importScripts %}


{% block scripts %}
   
{% endblock scripts %}
    
    
    