{% extends './dashboard.html' %}
{% load thumbnail extras static humanize %}

{% block header %}
    <h5>
        <a href="{% url 'plataforma_dashboard' %}" class="link-light">
            <i class="fas fa-arrow-left"></i>
        </a> {{ app.course.name }}
    </h5>
{% endblock header %}
    
{% block dashboard_content %}
<div>
    <div class="row py-2 g-2">
        <div class="border-bottom mb-3">
            <h5><a href="{% url 'plataforma_dashboard' %}" class=""><i class="fas fa-arrow-left"></i></a> {{ app.course.name }}</h5>
        </div>
        
        {% if app.course.getSubjects|getOptativas|length > 0 %}
            <div class="alert alert-primary" role="alert">
                <h5>Seleccione Créditos <span class="badge bg-light text-secondary"><span id="totalSubj">0</span> | <span id="totalEtcs">0</span> ETCS</span></h5>
                <p>Seleccione las asignaturas optativas que desea cursar en {{ app.course.name }}</p>
                <small>                    
                    {% with app.course.getSubjects|getObligatorias|length as obligatorias %}
                        {% if obligatorias > 0 %}
                            Se matriculará, además, en {% if obligatorias == 1 %}una{% else %}{{ obligatorias|apnumber }}{% endif %}
                            asignatura{{ obligatorias|pluralize:"s" }} obligatoria{{ obligatorias|pluralize:"s" }}. 
                        {% endif %}
                    {% endwith %}                        
                Esta operación es irreversible</small>                    
                <br><hr>
                <button type="button" id="continuar" class="float-right btn btn-sm btn-outline-primary">
                    <div class="spinner-grow spinner-grow-sm invisible" role="status">
                    </div> Continuar <i class="fas fa-long-arrow-alt-right"></i>
                </button>
            </div>
        {% endif %}
        
        {% for subject in app.course.getSubjects|getOptativas %}
            <div class="col-sm-4">
                <div class='card text-center h-100'>
                    <div class="card-body">                        
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" data-subject-pk="{{ subject.pk }}" data-subject="{{ subject.name }}" data-etcs="{{ subject.credicts|floatformat }}">
                        </div>
                        <h5 class="card-title">{{ subject.name }}</h5>
                        <small>{{ subject.mode }} | {{ subject.credicts|floatformat }} ETCS</small>
                    </div>
                </div>
            </div>
        {% empty %}
            <div class="alert alert-primary" role="alert">
                <h5>¡Activar mi Matrícula!</h5>
                <p>A continuación se le matriculará en {% if app.course.getSubjects|length == 1 %}una{% else %}{{ app.course.getSubjects|length|apnumber}}{% endif %} asignatura{{ app.course.getSubjects|pluralize:"s" }}</p>
                <small>Esta operación es irreversible</small>
                <br><hr>
                <button type="button" id="continuar" class="float-right btn btn-sm btn-outline-primary">
                    <div class="spinner-grow spinner-grow-sm invisible" role="status">
                    </div> Continuar <i class="fas fa-long-arrow-alt-right"></i>
                </button>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
{% block importScripts %}
    <script defer src="{% static 'letran/js/enrollment.js' %}"></script>
{% endblock importScripts %}

{% block scripts %}
    const urlenrollment = '{% url "api_plataforma_enrollment" %}';
    const urlcourse = "{% url 'plataforma_curso' app.course.slug  %}";
    const disabled = {% if app.course.getSubjects|getOptativas|length > 0 %}true{% else %}false{% endif %}
    const course = "{{ app.course.slug }}"
{% endblock scripts %}
    