{% extends './dashboard.html' %}
{% load thumbnail %}
{% block dashboard_content %}
<div class="">  
    <ul class="list-group">
        <li class="list-group-item disabled" aria-disabled="true">ÚLTIMAS ACTIVIDADES</li>
        <div style="max-height: 75vh; overflow: auto;">
        {% for app in apps %}            
            {% for subject in app.course.subjects %}
                {% for clase in subject.classes|dictsortreversed:"datepub" %}
                    {% if forloop.first %}
                        <li class="list-group-item text-capitalize">
                            <a class="link-icon" href="{% url 'plataforma_clase' clase.slug %}">
                                {{ clase.name }} | {{ app.course.name }} | {{ clase.datepub|date:"D d M Y" }}
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
            {% endfor %}                
        {% endfor %}
        </div>
            
    </ul>
    <ul class="list-group mt-4">
        <li class="list-group-item disabled" aria-disabled="true">RECURSOS</li>        
        {% for app in apps %}            
            {% for recurso in app.course.recursos %}
                <li class="list-group-item text-capitalize">
                    <div class="p-2">
                        <a target="_blank" href="{% url 'plataforma_recurso' recurso.slug %}">
                            <i class="far
                        {% if recurso.tipo == 'html' or recurso.tipo == 'css' or recurso.tipo == 'js' or recurso.tipo == 'python' %} 
                            fa-file-code
                        {% endif %}                
                        {% if recurso.tipo == 'audio' %}
                            fa-file-audio
                        {% endif %}                
                        {% if recurso.tipo == 'video' %}
                            fa-file-video
                        {% endif %}
                        {% if recurso.tipo == 'imagen' %}
                            fa-file-image
                        {% endif %}                
                        {% if recurso.tipo == 'documento' or recurso.tipo == 'conferencia' or recurso.tipo == 'programa' or recurso.tipo == 'reglamento' %}
                            fa-file-alt 
                        {% endif %}                    
                        "></i> {{ recurso.name }} | {{ app.course.name }}</a>
                    </div>
                </li>
            {% endfor %}                
        {% endfor %}            
    </ul>
    <ul class="list-group my-4">
        <li class="list-group-item disabled" aria-disabled="true">MIS CURSOS</li>        
        {% for app in apps %}
            <li class="list-group-item">
                <a class="collapse-folder-title" data-toggle="collapse" href="#index-{{ app.course.slug }}" role="button" aria-expanded="{% if forloop.first %}true{% else %}false{% endif %}" aria-controls="{{ app.course.slug }}"> {{ app.course.name }}</a>
            
                <div id="index-{{ app.course.slug }}" class="collapse {% if forloop.first %}show{% endif %} container">       
                    <div style="max-height: 75vh; overflow: auto;">
                        {% for subject in app.course.subjects %}
                            <div class="{% if not forloop.last %}border-bottom{% endif %} pb-2">
                                <a class="nav-link collapse-title" data-toggle="collapse" href="#{{ subject.slug }}" role="button" aria-expanded="false" aria-controls="{{ subject.slug }}"> {{ subject.name }}</a>
                                <div id="{{ subject.slug }}" class="collapse">
                                    <div class="ckeditor">{{ subject.description|safe}}</div>
                                    <ul class="list-group">
                                        <li class="list-group-item disabled" aria-disabled="true">Actividades <span class="badge rounded-pill bg-primary">{{ subject.classes|length }}</span></li>
                                        {% for clase in subject.classes %}
                                            <li class="list-group-item text-capitalize"><a class="link-icon" href="{% url 'plataforma_clase' clase.slug %}">{{ clase.name }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        {% endfor %}   
                    </div>       
                </div>
            </li>
        {% endfor %}           
    </ul>
</div>
{% endblock dashboard_content %}}