{% extends './dashboard.html' %}
{% load thumbnail %}
{% block dashboard_content %}
<div class="">    
    <div class="row py-2 g-2">
        <div class="border-bottom mb-3">
            <h5>MIS CURSOS</h5>
        </div>
        {% for app in apps %}
            <div class="col-sm-4">
                <a href="{% url 'plataforma_curso' app.course.slug %}"></a>
                    <div class="card text-center h-100">
                        <div class="card-body">
                            <h5 class="card-title">{{ app.course.name }}</h5>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock dashboard_content %}}