{% extends './dashboard.html' %}
{% load static %}
{% block dashboard_content %}
    <div class="mt-2">            
        {% if subject %}
             <div class="border-bottom mb-3">
                <h5>
                    <a href="{% url 'plataforma_admin_course' subject.course.slug %}" class="">
                        <i class="fas fa-arrow-left"></i></a> {{ subject.course.name }} / {{ subject.name}}
                </h5>
            </div>
        {% else %}
            <div class="border-bottom mb-3">
                <h5>
                    <a href="{% url 'plataforma_admin_course' clase.subject.course.slug %}" class="">
                        <i class="fas fa-arrow-left"></i></a> {{ clase.subject.course.name }} / {{ clase.subject.name}}
                </h5>
            </div>
        {% endif %}
                        
       
        <div id="id_msg_pool" class="p-1" style="max-height: 80vh; overflow: auto;">
            <p class="text-dark h2 text-capitalize mx-auto">{{ clase.name }}</p>
            <small class="text-black-50 text-center">{{ clase.subject.course.name }} | {{ clase.datepub|date:"D d M y" }}</small>
        </div>
        <div class="border-top mt-3 p-1" 
        style="position: relative; bottom: 0; right: 0; width: 100%;">
            <div class="d-flex flex-row bd-highlight mb-3">
                <textarea id="id_msg" class="form-control" cols="30" rows="1" 
            placeholder="Escribe un mensaje" maxlength="180"></textarea>
                <button id="id_msg_send" type="button" 
                class="mt-1 ml-1 btn btn-primary rounded-circle 
                    align-self-end"><i class="fas fa-paper-plane"></i>
                </button>
            </div>                
        </div>
    </div>
{% endblock dashboard_content %}}
{% block importScripts %}
    <script defer src="{% static 'letran/js/messages.js' %}"></script>
{% endblock importScripts %}

{% block scripts %}
    const subject = "{{ slug }}";
    const sendmsg = "{% url 'plataforma_send_message' %}";
    const updatemsg = "{% url 'plataforma_update_messages' %}";
    const deletemsg = "{% url 'plataforma_delete_message' %}";
    const usermsg = "{% url 'plataforma_user_message' %}";
    const userpk = {{ user.pk }};
{% endblock scripts %}
    
    