{% extends './dashboard.html' %}
{% load thumbnail %}
{% load extras %}


{% block header %}
    <h5>
        <a href="{% url 'plataforma_curso' subject.course.slug %}" class="link-light">
            <i class="fas fa-arrow-left"></i></a> {{ subject.course.name }} / {{ subject.name}}
    </h5>
{% endblock header %}
    

{% block dashboard_content %}
    <div class="">
        <div class="row py-2 g-2">
            {% for class in subject.getCurrentClasses %}
                <div class="col-sm-4">
                    <a href="{% url 'plataforma_clase' class.slug %}">
                        <div class="card text-center h-100">
                            <div class="card-body">
                                <h5 class="card-title">{{ class.name }}</h5>
                            </div>
                            <div class="card-footer text-muted">
                                {{ class.datepub|timesince }}
                            </div>
                        </div>
                    </a>
                </div>
            {% empty %}
                <div class="alert alert-danger" role="alert">
                    ¡Ups! No hay clases a mostrar
                </div>
            {% endfor %}
        </div>
    </div>
    <!-- {% if clase %}
        <a href="{% url 'plataforma_messages' subject.slug %}" class="float">
            <i class="fa fa-comments"></i>
        </a>
    {% endif %} -->
{% endblock%}