{% extends './base.html' %}
{% load static %}
{% load thumbnail %}

{% block titulo %}{{ curso.name }} · {{ curso.area.name }}{% endblock titulo %}

{% block metatitle %}{{ curso.name }} · {{ curso.area.name }}{% endblock %}
{% block metadescription %}{{ curso.description|truncatechars:"50"}}{% endblock %}
{% block metaimg%}{{ curso.image.url }}{% endblock %}
{% block metaurl %}{% url 'curso' curso.pk %}{% endblock metaurl %}
{% block metadescripcion %}Página de Curso Detalle:{{ curso.area.name }} {{ curso.name }}. {{ curso.description }}{% endblock metadescripcion %}

{% block contenido %}
<header class="header-min" id="inicio">
    {% include './menu.html' %}

    <div class="d-lg-flex ml-md-5 ml-sm-2 ml-2 text-white" style="padding-top: 10vh;">
        <h1
            data-aos="fade-right"
            data-aos-duration="700"
            data-aos-delay="350"
            class="text-roboto-slab font-weight-bold text-uppercase display-2">
            Curso
        </h1>
        <nav class="align-self-center ml-auto" aria-label="breadcrumb">
            <ol class="breadcrumb bg-transparent">
                <li class="breadcrumb-item"><a class="link-light link-primary-hover" href="{% url 'index' %}">Inicio</a></li>
                <li class="breadcrumb-item"><a class="link-light link-primary-hover" href="{% url 'cursos' %}">Cursos</a></li>
                <li class="breadcrumb-item active text-secondary" aria-current="page">Detalle</li>
            </ol>
        </nav>
    </div>
</header>

<div class="p-4 bg-white">
    <div class="row mt-4">
        <div class="col-lg-8 shadow">            
            <h2 class="display-3 text-roboto-slab">{{ curso.name }}</h2>                
            <img loading="lazy" alt="Imagen {{ curso.name }}" src="{{ curso.image.url }}" class="img-fluid mt-1"/>
            
            <div class="pt-4 mb-2">
                {% if curso.description %}
                    <p class="display-6 text-roboto-slab">Descripción</p>    
                    <div>{{ curso.description|safe|linebreaksbr }}</div>
                    <br>
                {% endif %}
                {% if curso.requirements %}
                    <p class="display-6 text-roboto-slab">Requerimientos</p>    
                    <div>{{ curso.requirements|safe|linebreaksbr }}</div>
                    <br>
                {% endif %}
                {% if curso.curriculum %}
                    <p class="display-6 text-roboto-slab">Curriculum</p>    
                    <div>{{ curso.curriculum|safe|linebreaksbr }}</div>
                    <br>
                {% endif %}
                <div class="sharethis-inline-share-buttons"></div>
            </div>       
        </div>

        <div class="col-lg-4 p-3">
            <div class="mb-3">
                <a href="#" class="d-flex">
                    <span class="material-icons text-primary align-self-center">room</span> 
                    <span class="align-self-center"> Sede{{ curso.sedes.all|pluralize:"s" }}</span>
                </a>
                {{ curso.sedes.all|join:',<br>' }}
            </div>

            {% if curso.schedules.all %}
                <div class="mb-3">                
                    <small class="d-flex mb-2">
                        <span class="material-icons text-primary">schedule</span> 
                        <span class="align-self-center"> Horario{{ curso.schedules.all|pluralize:"s"}}</span>
                    </small>
                    {% for fecha in curso.schedules.all %}     
                        <div class="d-inline-flex border px-2 rounded ml-2">
                            <div class="d-flex flex-column text-center text-small py-1">
                                <div class="text-primary">
                                    {{ fecha.weekday }}
                                </div>
                            </div>
                            <div class="ml-2 flex-fill align-self-center text-small">
                                {{ fecha.dateIni|date:"h:i"}}
                            </div>
                        </div>                                   
                    {% endfor %}
                </div>
            {% endif %}

            <div class="d-flex mb-3">
                {% if curso.programa %}
                    <a class="d-flex border rounded px-2" href="{{ curso.programa.url }}" download>
                        <span class="material-icons text-primary">cloud_download</span> 
                        <span class="align-self-center"> Programa</span>
                    </a> 
                {% endif %}
                {% if curso.reglamento %}
                    <a class="d-flex ml-2 border rounded px-2" href="{{ curso.reglamento.url }}" download>
                        <span class="material-icons text-primary">cloud_download</span> 
                        <span class="align-self-center"> Reglamento</span>
                    </a> 
                {% endif %}
            </div>

            {% if curso.isAvailableRegistre %}
                <div class="container my-3">
                    <a class="btn btn-primary btn-block" target="_blank"
                    href="{% url 'admision_applicacion' curso.pk %}" 
                    role="button">
                        ADMISIÓN
                    </a>
                </div>
            {% endif %}
            
            {% if courses_ %}
                <div class="mb-3 mt-5 mt-sm-5 mt-md-0">
                    <h5 class="text-roboto-slab">Te puede interesar esto</h5>
                    <ul class="mt-2">
                        {% for course in courses_ %}
                            <div class="border-bottom">
                                <a class="p-1" href="{% url 'curso' course.pk %}" rel="canonical">
                                    <div><h5 class="text-roboto-slab">{{ course.name }}</h5>
                                    <p class="text-roboto-slab text-dark">{{ course.description|truncatechars:50 }}</p>
                                    <small class="text-roboto-slab text-muted">{{ course.area.name }}</small></div>
                                </a>
                            </div>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
                
            
            
            <!-- ShareThis BEGIN -->
            <div class="mt-3 sharethis-inline-follow-buttons"></div>
            <!-- ShareThis END -->
        </div>
    </div>
{% endblock %}
{% block headerScripts%}
<script defer src="https://platform-api.sharethis.com/js/sharethis.js#property=5f4164010a78ee0012323d96&product=inline-share-buttons"></script>
<script defer type="text/javascript" src="https://platform-api.sharethis.com/js/sharethis.js#property=5f4164010a78ee0012323d96&product=inline-share-buttons" async="async"></script>
{% endblock headerScripts%}

{% block importScripts %}
{% endblock importScripts %}
    