{% extends './base.html' %}
{% load static %}
{% load thumbnail %}

{% block titulo %}Cursos{% endblock titulo %}
{% block metaimg%}{{ header.background|thumbnail_url:"img-200" }}{% endblock %}
{% block metadescripcion %}Nuestros Cursos{% endblock metadescripcion %}

{% block contenido %}
<header class="header-min" id="inicio">
    {% include './menu.html' %}

    <div class="d-lg-flex ml-md-5 ml-sm-2 ml-2 text-white" style="padding-top: 10vh;">
        <h1
            data-aos="fade-right"
            data-aos-duration="700"
            data-aos-delay="350"
            class="text-roboto-slab font-weight-bold text-uppercase display-2">
            Cursos
        </h1>
        <nav class="align-self-center ml-auto" aria-label="breadcrumb">
            <ol class="breadcrumb bg-transparent">
                <li class="breadcrumb-item"><a class="link-light link-primary-hover" href="{% url 'index' %}">Inicio</a></li>
                <li class="breadcrumb-item active text-secondary" aria-current="page">Cursos</li>
            </ol>
        </nav>
    </div>
</header>

<div class="py-4 bg-white">
    <div class="row g-4 mt-4 mx-auto container">
        <div class="col-lg-4">
            <input id="id_buscar" type="search" class="form-control" value="" placeholder="Buscar" />
            <div class="row row-cols-md-3 row-cols-lg-1 row-cols-sm-1 row-cols-1">
                <div class="col mt-5">
                    <h6>Área</h6>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                        <a class="nav-link text-primary filtro-area" aria-current="page" role="button" 
                            onclick="filtro(this, '.filtro-area')">
                            Todos
                        </a>
                        </li>
                        
                        {% for area in areas %}
                            <li class="nav-item">
                                <a class="nav-link filtro-area" role="button" onclick="filtro(this, '.filtro-area')">{{ area.name }}</a>
                            </li>  
                        {% endfor %}                        
                        
                    </ul>
                </div>
                
                <div class="col mt-5">
                    <h6>Tipo</h6>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                        <a class="nav-link text-primary filtro-tipo" aria-current="page" role="button" onclick="filtro(this, '.filtro-tipo')">Todos</a>
                        </li>
                        {% for category in categories %}
                            <li class="nav-item"><a class="nav-link filtro-tipo" role="button" onclick="filtro(this, '.filtro-tipo')">{{ category.name }}</a></li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="col mt-5">
                    <h6>Estado Admisión</h6>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                        <a class="nav-link text-primary filtro-admision" aria-current="page" role="button" onclick="filtro(this, '.filtro-admision')">Todos</a>
                        </li>
                        <li class="nav-item"><a class="nav-link filtro-admision" role="button" onclick="filtro(this, '.filtro-admision')">Abierta</a></li>  
                        <li class="nav-item"><a class="nav-link filtro-admision" role="button" onclick="filtro(this, '.filtro-admision')">Cerrada</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-lg-8"> 
            <div class="row row-cols-1 g-0 row-cols-md-1 mr-lg-5 ml-md-3">    
                {% for course in courses %}
                    <div class="card mb-3" data-area="{{ course.area.name }}" data-tipo="{{ course.category.name }}" data-course="{{ course.name }}" data-admision="{% if course.isAvailableRegistre %}Abierta{% else %}Cerrada{% endif %}" onclick="window.location.href='{% url 'curso' course.slug %}'">
                        <div class="row g-0">
                            <div class="col-md-4 image-box">
                                <img loading="lazy" src="{{ course.image|thumbnail_url:'img-640' }}" srcset="
                                {{ course.image|thumbnail_url:'img-640' }} 800w,
                                {{ course.image|thumbnail_url:'img-1100' }} 2000w" class="img-h-enlace">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <div class="d-flex mt-2 align-middle">
                                        <h5 class="card-title font-weight-bold">{{ course.name }}</h5>
                                        <h5 class="text-primary ml-auto font-weight-bold">4.0</h5>
                                    </div>
                                    <small class="mr-auto text-primary text-small">
                                        <b>                                                                                 
                                            {{ course.openregistre|date:"d M Y" }}                                        
                                        </b> - 
                                        <b>
                                            {{ course.deadline|date:"d M Y" }}
                                        </b>
                                        {% if course.isAvailableRegistre %}
                                            · <b>Admisión Abierta</b>
                                        {% endif %}
                                        · {{ course.capacity }} Estudiantes
                                    </small>
                                    <p class="card-text">{{ course.description|truncatechars:100 }}</p>
                                    <div class="d-flex align-items-stretch mt-2">
                                        {% for fecha in course.schedules.all %}                                            
                                            {% if forloop.counter < 3 %}
                                                <div class="d-inline-flex border px-2 rounded {% if forloop.first %}{% else %}ml-2{% endif %}">
                                                    <div class="d-flex flex-column text-center text-small py-1">
                                                        <div class="text-primary">
                                                            {{ fecha.weekday }}
                                                        </div>
                                                    </div>
                                                    <div class="ml-2 flex-fill align-self-center text-small">
                                                        {{ fecha.dateIni|date:"h:i"}}
                                                    </div>
                                                </div>
                                            {% else %}                                        
                                                {% if forloop.counter == 3 %}
                                                    <div class="d-inline-flex border rounded px-1 text-small ml-2">
                                                        <div class="flex-fill align-self-center">+ {{ forloop.revcounter }}</div>
                                                    </div>
                                                {% endif %}
                                            {% endif %}                                     
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>        
    </div>
</div>
{% endblock contenido %}
{% block importScripts %}
    <script defer src="{% static 'letran/js/cursos.js' %}"></script>
{% endblock %}