{% extends './base.html' %}
{% load static %}
{% load thumbnail %}

{% block titulo %}Eventos{% endblock titulo %}

{% block metatitle %}Eventos{% endblock %}
{% block metadescription %}Eventos CFBC{% endblock %}
{% block metaimg%}{{ header.background|thumbnail_url:"img-200" }}{% endblock %}
{% block metadescripcion %}Página de Eventos{% endblock metadescripcion %}

{% block contenido %}
<header class="header-min">
    {% include './menu.html' %}

    <div class="d-lg-flex ml-md-5 ml-sm-2 ml-2 text-white" style="padding-top: 10vh;">
        <h1
            data-aos="fade-right"
            data-aos-duration="700"
            data-aos-delay="350"
            class="text-roboto-slab font-weight-bold text-uppercase display-2">
            Eventos
        </h1>
        <nav class="align-self-center ml-auto" aria-label="breadcrumb">
            <ol class="breadcrumb bg-transparent">
                <li class="breadcrumb-item"><a class="link-light link-primary-hover" href="{% url 'index' %}">Inicio</a></li>
                <li class="breadcrumb-item active text-secondary" aria-current="page">Eventos</li>
            </ol>
        </nav>
    </div>
</header>

<div class="py-4 bg-white">
    <nav class="mt-2">
        <ul class="pagination pagination-sm justify-content-center">
            <li class="page-item {% if page_obj.has_previous %}{% else %}disabled{% endif %}">
                <a class="page-link" href="{% if page_obj.has_previous %}?page=1{% endif %}" aria-label="Previous">
                    <span aria-hidden="true"><i class="fa fa-angle-double-left"></i></span>
                </a>
            </li>
            <li class="page-item {% if page_obj.has_previous %}{% else %}disabled{% endif %}">
                <a class="page-link" href="{% if page_obj.has_previous %}?page={{ page_obj.previous_page_number }}{% endif %}" aria-label="Previous">
                    <span aria-hidden="true"><i class="fa fa-angle-left"></i></span>
                </a>
            </li>              
            <li class="page-item disabled">
                <a class="page-link" href="#">    
                    Eventos {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}                                          
                </a>
            </li>
            <li class="page-item {% if page_obj.has_next %}{% else %}disabled{% endif %}">
                <a class="page-link" href="{% if page_obj.has_next %}?page={{ page_obj.next_page_number }}{% endif %}" aria-label="Next">
                    <span aria-hidden="true"><i class="fa fa-angle-right"></i></span>
                </a>
            </li>
            <li class="page-item {% if page_obj.has_next %}{% else %}disabled{% endif %}">
                <a class="page-link" href="{% if page_obj.has_next %}?page={{ page_obj.paginator.num_pages }}{% endif %}" aria-label="Next">
                    <span aria-hidden="true"><i class="fa fa-angle-double-right"></i></span>
                </a>
            </li>          
        </ul>
    </nav>

    <div class="container row-cols-1 row row-cols-sm-1 row-cols-md-3 row-cols-lg-4 g-1 g-md-2 p-1">
    {% for event in page_obj %}
            <div class="col">
                <div class="card" onclick="window.location.href='{% url 'evento' event.pk %}'">
                    <div class="image-box">
                        <img loading="lazy" src="{{ event.image.url }}" class="card-img-top img-fluid" alt="Imagen {{ event.name }}">
                    </div>
                    <div class="card-body">
                        {% if event.dateEnvs.all %}
                            <div class="d-flex">                            
                                {% with event.dateEnvs.all|first as fecha %}  
                                    <small class="mr-auto text-primary text-small">
                                        <b>{{ event.dateEnvs.all|length }} fecha{{ event.dateEnvs.all|pluralize:"s" }}</b> ·
                                        <b>                                                                                 
                                            {{ fecha.dateEnv|date:"d M Y gA" }}                                        
                                        </b> - <b>{{ fecha.dateFin|date:"d M Y gA" }}</b>
                                    </small>
                                {% endwith %}
                            </div>
                        {% endif %}
                        <h5 class="my-1 font-weight-bold">{{ event.name }}</h5>
                        
                        <small class="mr-auto text-secondary">{{ event.place|truncatechars:50 }}</small>
                        
                        <p class="card-text text-dark d-none d-sm-none d-md-block">{{ event.body|truncatechars:100 }}</p>

                        <div class="d-flex align-items-stretch mt-2">
                            {% for fecha in event.dateEnvs.all %}                            
                                {% if forloop.counter < 3 %}
                                    <div class="d-inline-flex border px-2 rounded {% if forloop.first %}{% else %}ml-2{% endif %}">
                                        <div class="d-flex flex-column text-center text-small py-1">
                                            <div class="text-primary">
                                                {{ fecha.dateEnv|date:"N" }}
                                            </div>
                                            <div>
                                                {{ fecha.dateEnv|date:"d" }}
                                            </div>
                                        </div>
                                        <div class="ml-2 flex-fill align-self-center text-small">
                                            {{ fecha.dateEnv|date:"D P A"}}
                                        </div>
                                    </div>
                                {% else %}                                        
                                    {% if forloop.counter == 3 %}
                                        <div class="d-inline-flex border rounded px-1 text-small ml-2">
                                            <div class="flex-fill align-self-center">+ {{ forloop.revcounter }}
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endif %} 
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock contenido %}