{% extends './base.html' %}
{% load static %}
{% load thumbnail %}

{% block titulo %}Noticias{% endblock titulo %}

{% block metatitle %}Noticias{% endblock %}
{% block metadescription %}Últimas Noticias del CFBC{% endblock %}
{% block metaimg%}{{ header.background|thumbnail_url:"img-200" }}{% endblock %}

{% block metadescripcion %}Página de Noticias{% endblock metadescripcion %}

{% block contenido %}
<header class="header-min" id="inicio">
    {% include './menu.html' %}

    <div class="d-lg-flex ml-md-5 ml-sm-2 ml-2 text-white" style="padding-top: 10vh;">
        <h1
            data-aos="fade-right"
            data-aos-duration="700"
            data-aos-delay="350"
            class="text-roboto-slab font-weight-bold text-uppercase display-2">
            Noticias
        </h1>
        <nav class="align-self-center ml-auto" aria-label="breadcrumb">
            <ol class="breadcrumb bg-transparent">
                <li class="breadcrumb-item"><a class="link-light link-primary-hover" href="{% url 'index' %}">Inicio</a></li>
                <li class="breadcrumb-item active text-secondary" aria-current="page">Noticias</li>
            </ol>
        </nav>
    </div>
</header>

<div class="py-4 bg-white">
    <nav class="mt-2">
        <ul class="pagination pagination-sm justify-content-center">
            <li class="page-item {% if page_obj.has_previous %}{% else %}disabled{% endif %}">
                <a class="page-link" href="{% if page_obj.has_previous %}?page=1{% endif %}" aria-label="Previous">
                    <span aria-hidden="true"><i class="fa fa-angle-double-left"></i></span>
                </a>
            </li>
            <li class="page-item {% if page_obj.has_previous %}{% else %}disabled{% endif %}">
                <a class="page-link" href="{% if page_obj.has_previous %}?page={{ page_obj.previous_page_number }}{% endif %}" aria-label="Previous">
                    <span aria-hidden="true"><i class="fa fa-angle-left"></i></span>
                </a>
            </li>              
            <li class="page-item disabled">
                <a class="page-link" href="#">    
                    Noticias {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}                                          
                </a>
            </li>
            <li class="page-item {% if page_obj.has_next %}{% else %}disabled{% endif %}">
                <a class="page-link" href="{% if page_obj.has_next %}?page={{ page_obj.next_page_number }}{% endif %}" aria-label="Next">
                    <span aria-hidden="true"><i class="fa fa-angle-right"></i></span>
                </a>
            </li>
            <li class="page-item {% if page_obj.has_next %}{% else %}disabled{% endif %}">
                <a class="page-link" href="{% if page_obj.has_next %}?page={{ page_obj.paginator.num_pages }}{% endif %}" aria-label="Next">
                    <span aria-hidden="true"><i class="fa fa-angle-double-right"></i></span>
                </a>
            </li>          
        </ul>
    </nav>

    <div class="row row-cols-1 row-cols-sm-1 row-cols-md-3 row-cols-lg-4 g-1 g-md-2 p-1">
        {% for new in page_obj %}
            <div class="col">
                <div class="card" onclick="window.location.href='{% url 'noticia' new.pk %}'">
                    <div class="image-box">
                        <img class="card-img-top img-v" loading="lazy"
                        src="{{ new.image.url }}"
                        srcset="
                        {{ new.image|thumbnail_url:'img-200' }} 320w,
                        {{ new.image|thumbnail_url:'img-400' }} 400w,
                        {{ new.image|thumbnail_url:'img-600' }} 600w,
                        {{ new.image|thumbnail_url:'img-640' }} 800w,
                        {{ new.image|thumbnail_url:'img-1100' }} 2000w
                        "
                        alt="Noticia {{ new.title }}" />
                    </div>
                    
                    <div class="card-body">
                    <h5 class="card-title font-weight-bold">{{ new.title }}</h5>
                    <small class="text-small text-primary font-weight-bold">{{ new.date|date:"D d M Y" }} · {{ new.category }}</small>
                    <p class="card-text">{{ new.body|truncatechars:100 }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}                
    </div>
</div>
{% endblock contenido %}