{% extends './base.html' %}
{% load static %}
{% load thumbnail %}

{% block titulo %}Noticia{% endblock titulo %}

{% block metatitle %}{{ new.title}}{% endblock %}
{% block metadescription %}{{ new.body|truncatechars:"50"}}{% endblock %}
{% block metaimg%}{{ new.image.url }}{% endblock %}
{% block metaurl %}{% url 'noticia' new.pk %}{% endblock metaurl %}
{% block metadescripcion %}Página de Noticia Detalle: {{ new.title }}.{% endblock metadescripcion %}

{% block contenido %}
<header class="header-min" id="inicio">
    {% include './menu.html' %}

    <div class="d-lg-flex ml-md-5 ml-sm-2 ml-2 text-white" style="padding-top: 10vh;">
        <h1
            data-aos="fade-right"
            data-aos-duration="700"
            data-aos-delay="350"
            class="text-roboto-slab font-weight-bold text-uppercase display-2">
            Noticia
        </h1>
        <nav class="align-self-center ml-auto" aria-label="breadcrumb">
            <ol class="breadcrumb bg-transparent">
                <li class="breadcrumb-item"><a class="link-light link-primary-hover" href="{% url 'index' %}">Inicio</a></li>
                <li class="breadcrumb-item"><a class="link-light link-primary-hover" href="{% url 'noticias' %}">Noticias</a></li>
                <li class="breadcrumb-item active text-secondary" aria-current="page">Detalle</li>
            </ol>
        </nav>
    </div>
</header>

<div class="p-4 bg-white">
    <div class="row mt-4">
        <div class="col-lg-8 shadow">   
            <h2 class="display-3 text-roboto-slab">{{ new.title }}</h2>    
            <small class="text-muted text-roboto-slab">{{ new.date|date:"D d M Y" }}</small><br>     
            <img loading="lazy" alt="Image {{ new.title }}" rc="{{ new.image.url }}" class="img-fluid  mt-1"/>
            
            <div class="pt-4 mb-2">
                <h2 class="display-3 text-roboto-slab">{{ new.title }}</h2>
                <div>{{ new.body|safe|linebreaksbr }}</div>
                {% if new.link %}
                    <a class="linl-secondary enlace" target="_blank" href="{{ new.link }}" rel="canonical" >
                        <div class="card enlace-card invisible col-md-6 col-lg-4 col-sm-12">
                            <div class="row g-0">
                                <div class="col-md-4 image-box">
                                    <img loading="lazy" src="" class="enlace-img img-h-enlace" style="">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body text-center">
                                        <h5 class="card-title enlace-title"></h5>
                                        <small class="text-small enlace-url"></small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                {% endif %}  
                <br>
                <div class="sharethis-inline-share-buttons"></div>
            </div>            
        </div>

        <div class="col-lg-4 bg-gray">
            <div class="mb-3 mt-5 mt-sm-5 mt-md-0">
                <h5 class="text-roboto-slab">Noticias Recientes</h5>
                <ul class="mt-2">
                    {% for new_ in news %}
                        <div class="border-bottom">
                            <a class="p-1" href="{% url 'noticia' new_.pk %}" rel="canonical">
                                <div><h5 class="text-roboto-slab">{{ new_.title }}</h5>
                                <p class="text-roboto-slab text-dark">{{ new_.body|truncatechars:50 }}</p>
                                <small class="text-roboto-slab text-muted">{{ new_.date|date:"D d M Y" }}</small></div>
                            </a>
                        </div>
                    {% endfor %}
                </ul>
            </div>
            <!-- ShareThis BEGIN -->
            <div class="sharethis-inline-follow-buttons"></div>
            <!-- ShareThis END -->
        </div>
    </div>
</div>
{% endblock %}
{% block headerScripts%}
<script defer src="https://platform-api.sharethis.com/js/sharethis.js#property=5f4164010a78ee0012323d96&product=inline-share-buttons"></script>
<script defer type="text/javascript" src="https://platform-api.sharethis.com/js/sharethis.js#property=5f4164010a78ee0012323d96&product=inline-share-buttons" async="async"></script>
{% endblock headerScripts%}
{% block importScripts %}
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v8.0" nonce="tb5tOQik"></script>
{% endblock importScripts %}
    