{% extends './base.html' %}
{% load static %}
{% load humanize %}

{% block content %}  
    <link rel="stylesheet" href="{% static 'letran/css/ckeditor.css' %}" />
    <div class="col-md-8">
        <h3 class="edition-name pb-4 mb-4 font-italic border-bottom">
            <span data-aos="fade-down" data-aos-delay="500" data-aos-duration="500">
                <a href="{% url 'sapereaude_index' edition.slug %}" class="link-secondary">
                {{ edition.name }}
            </a></span> <span data-aos="fade-down" data-aos-delay="600" data-aos-duration="500" class="text-muted">·</span> 
            <span data-aos="fade-down" data-aos-delay="700" data-aos-duration="500">
                <a href="{% url 'section' edition.slug article.section.slug %}" class="link-secondary">
                {{ article.section.name }}
            </a></span>
        </h3>
        <article class="blog-post">
            <h1 class="blog-post-title" data-aos="fade-right" data-aos-delay="1000" data-aos-duration="500">{{ article.title }}<br><small>{{ article.subtitle }}</small></h1>
            
            <p class="blog-post-meta" data-aos="fade-right" data-aos-delay="1100" data-aos-duration="500">{{ article.datepub|naturalday|capfirst }} · Por 
            {% for author in article.authors.all %}
                {% if forloop.counter > 1 and not forloop.last %}, {% endif %}
                {% if forloop.last and article.authors.all|length > 1 %} y {% endif %}
                <i>{{ author.fullname }}</i>
            {% endfor %}</p>
            <div class="img-container img-container-w shadow rounded" data-aos="flip-left" data-aos-delay="1200" data-aos-duration="500">
                <img loading="lazy" src="{{ article.image.url }}" class="img-fluid img-filter" alt="..."></div>
            <p class="mt-2" data-aos="fade-right-down" data-aos-delay="100" data-aos-duration="500">{{ article.abstract }}</p>
            <hr>
            <div class="ckeditor" data-aos="fade-right-down" data-aos-duration="500" data-aos-delay="200">{{ article.body|safe|linebreaksbr }}</div>
        </article>

        {% for article_ in edition.getArticles %}                    
            {% ifnotequal article_.slug article.slug %}                        
                <article class="blog-post border-top">
                    <h2 class="blog-post-title" data-aos="fade-up" data-aos-delay="100" data-aos-duration="500">{{ article_.title }}</h2>
                    <p class="blog-post-meta" data-aos="fade-up" data-aos-delay="200" data-aos-duration="500">{{ article_.datepub|naturalday|capfirst }} · Por {% for author in article_.authors.all %}{% ifequal forloop.counter 1 %}{{ author.fullname }}{% endifequal %}{% endfor %} {% if article_.authors.all|length > 1 %}y {% with article_.authors.all|length|add:'-1' as rest %}{{ rest|apnumber }} más{% endwith %}{% endif %}</p>
                    <p data-aos="fade-up" data-aos-delay="300" data-aos-duration="500">{{ article_.abstract|truncatechars:250 }}</p>
                    <div data-aos="fade-up" data-aos-delay="400" data-aos-duration="500">
                        <a href="{% url 'article' edition.slug article_.slug %}">Continuar leyendo <i class="fas fa-long-arrow-alt-right"></i></a>
                    </div>
                </article>
            {% endifnotequal %}
        {% endfor %}
    </div>
{% endblock content %}