{% extends 'base/base.html' %}
{% load static %}
{% block titulo %}Biblioteca{% endblock %}
{% block seccion %}
    <div class="w3-row w3-margin">
        <div class="w3-third w3-card-4 w3-white w3-round w3-padding">
            <h4>Registrar Asistencia</h4>
            <form method="POST" action="." class="w3-form w3-container">
                {% csrf_token %}
                <div class="w3-col l12 m12 s12">
                    <label for="id_userBiblio">{{ assistenceForm.userBiblio.label }}</label><br>
                    {{ assistenceForm.userBiblio }}<br>

                    <label for="id_motive">{{ assistenceForm.motive.label }}</label><br>
                    {{ assistenceForm.motive }}
                </div>
            </form>
        </div>
        <div class="w3-half w3-card-4 w3-white w3-round w3-padding w3-margin-left">
            <h4>Registrar Usuario</h4>
            <form method="POST" action=".">
                {% csrf_token %}
                {{ createUserBiblio.as_p }}
            </form>
        </div>
    </div>
{% endblock %}