{% extends './base.html' %}
{% load static %}
{% block titleHead %}Registro{% endblock titleHead %}
{% block importCSS %}
    <!-- View -->
    <link rel="stylesheet" href="{% static 'bootstrap/css/floating-labels.css' %}">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
{% endblock importCSS %}


{% block contenido %} 
    <form id="id_form" action="." method="post" class="form-app {% if form.errors %}was-validated{% endif %}">
            {% csrf_token %}
            <div class="mb-4 text-center">
                <img data-aos="fade-up" data-aos-duration="500" class="text-mb-4" src="{% static 'img/cfbc.png' %}" alt="" height="150">
                <h2 
                data-aos="fade-up" 
                data-aos-delay="500"
                data-aos-duration="500" class="mt-5">Registrarme</h2>
            </div>

            {% if form.errors %}                
                {% for key, error in form.errors.items %}
                    <div class="alert alert-danger lg" role="alert">
                        {{ error | escape }}
                    </div>
                {% endfor %}                    
            {% endif %}

            {% if errorEmail %}
                <div class="alert alert-danger lg" role="alert">
                    Su cuenta de correo no es correcta o no existe
                </div>
            {% endif %}
            
            {% if messages%}                
                {% for message in messages %}
                    <div class="alert alert-danger lg" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}                   
            {% endif %}                

            <div class="container card" data-aos="zoom-in-right" data-aos-delay="1000">                
                <div class="card-body">
                    <h5 class="card-title mb-4" data-aos="zoom-down" data-aos-delay="1200">Datos Personales</h5>
                    <div class="row">
                        <div class="col-lg-6 form-label-group" data-aos="zoom-down" data-aos-delay="1500">
                            {{ form.name }}
                            <label for="inputNombre">Nombre</label>
                            <div class="invalid-feedback">
                                Se requiere su Nombre
                            </div>
                        </div>

                        <div class="col-lg-6 form-label-group" data-aos="zoom-down" data-aos-delay="1500">
                            {{ form.lastname }}
                            <label for="inputSegApellido">Apellidos</label>
                            <div class="invalid-feedback">
                                Se requiere sus Apellidos
                            </div>
                        </div>

                        <div class="col-lg-6 form-label-group" data-aos="zoom-down" data-aos-delay="1500">
                            {{ form.nacionality }}
                            <label for="inputNacionalidad">Nacionalidad</label>
                            <div class="invalid-feedback">
                                ¿Cuál es su nacionalidad?
                            </div>
                        </div> 

                        <div class="col-lg-6 form-label-group" data-aos="zoom-down" data-aos-delay="1500">
                            {{ form.numberidentification }}
                            <label for="inputCI">Carnet de Identidad</label>
                            <div class="invalid-feedback">
                                Necesitamos tu Número de Identificación
                            </div>
                        </div>

                        <div class="col" data-aos="zoom-down" data-aos-delay="1500">
                            {{ form.gender }}
                        </div>                        
                    </div>                    
                </div>
            </div>

            <div class="container card mt-4" data-aos="zoom-in-left" data-aos-delay="1000">                
                <div class="card-body">
                    <h5 class="card-title mb-4" data-aos="zoom-down" data-aos-delay="1200">Datos de Contacto</h5>
                    <div class="row">
                        <div class="col-lg-6 form-label-group" data-aos="zoom-down" data-aos-delay="1500">
                            {{ form.street }}
                            <label for="inputCalle">Calle</label>
                            <div class="invalid-feedback">
                                Debes proporcionar tu Dirección
                            </div>
                        </div> 

                        <div class="col-lg-6 form-label-group" data-aos="zoom-down" data-aos-delay="1500">
                            {{ form.city }}
                            <label for="inputMunicipio">Municipio</label>
                            <div class="invalid-feedback">
                                Debes proporcionar tu Municipio
                            </div>
                        </div> 
                        
                        <div class="col-lg-12 form-label-group" data-aos="zoom-down" data-aos-delay="1500">
                            {{ form.state }}
                            <label for="inputMunicipio">Provincia</label>
                            <div class="invalid-feedback">
                                Debes proporcionar tu Provincia
                            </div>
                        </div>
                        <hr>
                        <div class="col-lg-6 form-label-group" data-aos="zoom-down" data-aos-delay="1500">
                            {{ form.cellphone }}
                            <label for="inputMovil">Móvil</label>
                        </div> 

                        <div class="col-lg-6 form-label-group" data-aos="zoom-down" data-aos-delay="1500">
                            {{ form.phone }}
                            <label for="inputTelef">Teléfono</label>
                        </div> 
                    </div>
                </div>
            </div>

            <div class="container card mt-4" data-aos="zoom-in-right" data-aos-delay="500">                
                <div class="card-body">
                    <div class="row">
                        <h5 class="card-title mb-4" data-aos="zoom-down" data-aos-delay="700">Grado Académico y Ocupación</h5>
                        
                        <div class="col-lg-6" data-aos="zoom-down" data-aos-delay="900">
                            {{ form.degree }}
                        </div>

                         <div class="col-lg-6" data-aos="zoom-down" data-aos-delay="900">
                            {{ form.ocupation }}
                        </div>

                        <div class="col form-label-group" data-aos="zoom-down" data-aos-delay="900">
                            {{ form.title }}
                            <label for="inputTitulo">Título</label>
                            <div class="invalid-feedback">
                                Por favor escriba su Título
                            </div>
                        </div>                         
                    </div>
                </div>
            </div>

            <div class="container card mt-4" data-aos="zoom-in-left" data-aos-delay="500">                
                <div class="card-body">
                    <h5 class="card-title mb-4" data-aos="zoom-down" data-aos-delay="700">Usuario</h5>
                    <div class="row">
                        <div class="col-lg-12 form-label-group" data-aos="zoom-down" data-aos-delay="900">
                            {{ form.email }}
                            <small id="passwordHelpBlock1" class="form-text text-muted" data-aos="fade-up" data-aos-delay="1300">
                                Su cuenta de correo será verificada y se le enviará un email con el siguiente paso a seguir
                            </small>
                            <label for="inputEmail">Correo Eléctronico</label>
                            <div class="invalid-feedback">                                
                                {% if errorEmail %}
                                    Su cuenta de email no es correcta o no existe
                                {% else %}
                                    Necesitamos su Email
                                {% endif %}                                     
                            </div>
                        </div>                    
                    </div>
                </div>
            </div>

            <div class="mt-4" data-aos="fade-up" data-aos-delay="300">
                {{ form.captcha }}
            </div>
            

            <div id="id_autorizo" class="form-check mt-4" data-aos="fade-up" data-aos-delay="500">
                <input type="checkbox" class="form-check-input" id="id_checked" required>
                <label class="form-check-label" for="validationFormCheck1">Autorizo el uso de mis datos personales</label>
                <div class="invalid-feedback">Es necesario su consentimiento</div>
            </div>    

            <p id="id_aceptar_txt" class="mt-4" data-aos="fade-up" data-aos-delay="700">
                Al seleccionar <b>Aceptar y Continuar</b> a continuación, 
                acepto los 
                <a href="#">Términos de servicio,</a> 
                <a href="#">Términos Política de privacidad</a>, y
                <a href="#">Política contra la discriminación</a>
                del CFBC.
            </p>

            <button id="id_aceptar" data-aos="fade-up" data-aos-delay="900" class="mt-4 mb-4 btn btn-lg btn-primary btn-block" type="submit">
                Aceptar y continuar
            </button>

            <p class="mt-4 text-muted text-center">Centro Fray Bartolomé de las Casas &copy; 1998-2020</p>
        </form>
{% endblock contenido %}

{% block importScripts %}
    <script defer src="{% static 'letran/js/registre.js' %}"></script>
    <script defer src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
{% endblock  %}


{% block scripts %}  
{% endblock scripts %}
    
    
    
    