{% extends './base.html' %}
{% load static %}
{% block titleHead %}Aplicación{% endblock titleHead %}
{% block importCSS %}
    <!-- View -->
    <link rel="stylesheet" href="{% static 'bootstrap/css/floating-labels.css' %}">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
{% endblock importCSS %}


{% block contenido %}
    <form id="id_form" action="." method="post" class="form-app {% if form.errors %}was-validated{% endif %}">
        {% csrf_token %}
        <div class="mb-4 text-center">
            <img data-aos="fade-up" data-aos-duration="500" class="text-mb-4" src="{% static 'img/cfbc.png' %}" alt="" height="150">
            <h2 
            data-aos="fade-up" 
            data-aos-delay="500"
            data-aos-duration="500" class="mt-5">Aplicación</h2>
            <p  data-aos="fade-up" 
            data-aos-delay="900"
            data-aos-duration="500">{{ enrollement.name }}</p>
        </div>
        {% if messages%}                
            {% for message in messages %}
                <div class="alert alert-danger lg" role="alert">
                    {{ message }}
                </div>
            {% endfor %}                   
        {% endif %}

        <div id="id_error" class="alert alert-danger lg" role="alert" style="display: none;">
            <p>Error de conexión</p>
        </div>

        {% for ask in askApplication %}
            <div id="id_ask_{{ ask.pk }}">
                <div class="container card mb-4" data-aos="zoom-in-right" data-aos-delay="500"> 
                    <div class="card-body">
                        <h5>{{ ask.order }} - {{ ask.askBody }}</h5>
                        <div class="form-group">
                            {% ifequal ask.askType "o" %}
                                <select 
                                    data-ask="{{ ask.pk }}" id="id_ask_select_{{ ask.pk }}" 
                                    class="ask-select form-label-group form-select form-select-md">
                                        <option selected disabled value="0">Seleccionar</option>
                                        {% for option in ask.options %}
                                            <option value="{{ option.pk }}">{{ option.option }}</option>
                                        {% endfor %}
                                </select>
                                <div class="valid-feedback">
                                    Seleccione un elemento
                                </div>
                            {% endifequal %}

                            {% ifequal ask.askType "r" %}
                                <fieldset class="ask-radio" data-ask="{{ ask.pk }}">
                                    <div id="id_ask_radio_{{ ask.pk }}">
                                        {% for option in ask.options %}
                                            <div class="form-check">
                                                <input class="form-check-input" 
                                                type="radio" name="radio_{{ ask.pk }}" 
                                                id="id_radio_{{ ask.pk }}_{{ option.pk }}" 
                                                value="{{ option.pk }}"                                                 
                                                {% if forloop.first %}
                                                    checked
                                                {% endif %}>
                                                <label class="form-check-label" for="id_radio_{{ ask.pk }}_{{ option.pk }}">
                                                    {{ option.option }}
                                                </label>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </fieldset>
                            {% endifequal %}

                            {% ifequal ask.askType "t"%}
                                <textarea data-ask="{{ ask.pk }}" id="id_ask_textarea_{{ ask.pk }}" 
                                    oninput="$('#id_ask_textarea_ind_{{ ask.pk }}').html($(this).val().length  + '/{{ ask.textMax }}')" 
                                    class="ask-textarea form-control" placeholder="Escriba su respuesta" 
                                    maxlength="{{ ask.textMax }}" rows="4" cols="50"></textarea>
                                <small class="form-text text-muted">Sea conciso solo tiene {{ ask.textMax }} caracteres. Al menos escriba 20 caracteres</small>
                                <small class="float-right form-text text-muted" id="id_ask_textarea_ind_{{ ask.pk }}">0/{{ ask.textMax }}</small>
                                <div class="valid-feedback">
                                    Debe completar este campo. Escriba al menos 20 caracteres.
                                </div>
                            {% endifequal %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        <button id="id_send" data-aos="fade-up" data-aos-delay="500" class="mt-4 mb-4 btn btn-lg btn-primary btn-block" type="submit">
            Enviar
        </button>

        <p class="mt-4 text-muted text-center">Centro Fray Bartolomé de las Casas &copy; 1998-2020</p>
    </form>
{% endblock %}

{% block importScripts %}
    <!-- View -->
    <script src="{% static 'letran/js/ajaxdjango.js' %}"></script>
    <script src="{% static 'letran/js/application.js' %}"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
{% endblock  %}


{% block scripts %}
    {% comment %} URL que se usan en application.js guardadas en un objeto constante {% endcomment %}
    const url = {
        "urlApi":  "{% url 'api_admision_aplicacion' %}",
        "urlRes": "{% url 'admision_dashboard' %}"
    }
{% endblock scripts %}