{% extends './base.html' %}
{% load static %}
{% load thumbnail %}

{% load extras %}
{% device_is_mobile req as device_is_mobile %}

{% block titleHead %}Selección{% endblock titleHead %}
{% block importCSS %}
    <!-- View -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
{% endblock importCSS %}

{% block styleCSS %}
    body {
        padding: 1rem;
    }
{% endblock styleCSS %}
    
{% block contenido %} 
    <div class="container">
        <div class="mb-4 text-center">
            <img loading='lazy' data-aos="fade-up" data-aos-duration="500" class="text-mb-4" src="{% static 'img/cfbc.png' %}" alt="" height="150">
            <h2 data-aos="fade-up" 
                data-aos-delay="250"
                data-aos-duration="800" class="mt-3">Seleccionar Curso</h2>
        </div>
        
        {% if messages %}
            
            {% for message in messages %}
                <div class="alert alert-danger lg" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
                
        {% endif %}

        {% comment %} <input data-aos="fade-up" 
                data-aos-delay="500"
                data-aos-duration="800"class="form-control mb-4" list="datalistOptions" id="id_buscador" placeholder="Buscar ...">
        <datalist id="datalistOptions">
            {% for course in courses %}
                <option value="{{ course.name }}">
            {% endfor %}            
        </datalist> {% endcomment %}

        <div class="row row-cols-1 row-cols-md-3 g-4" id="id_courses_list" data-masonry='{"percentPosition": true}'>            
            {% for course in courses %}
                <div class="col" data-course-title="{{ course.name }}" onclick="window.location.href='{% url 'admision_applicacion' course.id %}'">
                    <div class="card">
                        {% if device_is_mobile %}
                        <!--Vista Movil -->
                        <img src="{{ course.image | thumbnail_url:'card'}}" class="card-img-top" alt="Imagen Curso 1" style="min-height: 10vh;">
                        {% else %}
                        <!-- Vista Normal -->
                        <img src="{{ course.image | thumbnail_url:'card-desk'}}" class="card-img-top" alt="Imagen Curso 1" style="min-height: 10vh;">
                        {% endif %}
                        <div class="card-body">
                            <h3 class="card-title mt-1 ml-2 text-center">{{ course.name }}</h3>
                            <p class="card-text ml-2">{{ course.description|truncatechars:100 }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}                
        </div>
        
        <p class="mt-4 text-muted text-center">Centro Fray Bartolomé de las Casas &copy; 1998-2020</p>
    </div>
{% endblock %}

{% block importScripts %}
    <!-- View -->
    <script defer  src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/masonry/4.2.2/masonry.pkgd.min.js" ntegrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous" async></script>
    <script defer src="{% static 'letran/js/selectcourse.js'%}"></script>
{% endblock  %}


{% block scripts %}{% endblock scripts %}
