{% extends 'base/base_tables.html' %}
{% block titulo_seccion %}
    Candidato a {{ candidate.course.name }}    
{% endblock %}
{% block seccion %}
    <div class="w3-row-padding w3-padding w3-opacity w3-small w3-panel w3-light-gray w3-margin w3-card-4" style="vertical-align: middle;">
        <div class="">
            <h3>{{ candidate.student.name }} {{ candidate.student.lastname }}</h3>
            <div class="w3-row">
                <div class="w3-quarter">
                    <p>{{ candidate.student.degree }} {{ candidate.student.title }}</p>
                    <p>{{ candidate.student.numberidentification }}</p>
                    <p>Nacionalidad: {{ candidate.student.nacionality }}</p>
                    <p>{{ candidate.student.email }}</p>                    
                </div>
                <div class="w3-half">
                    <p>{{ candidate.student.cellphone }}</p>
                    <p>{{ candidate.student.phone }}</p>
                    <p>{{ candidate.student.street }}, {{ candidate.student.city }}, {{ candidate.student.state }}</p>
                </div>
            </div>
            
            <div class="w3-row">
                <div class="w3-container w3-center">
                    <h3>Respuestas a Formulario</h3>
                </div>
                {% for answer in answerApp %}
                    <div class="w3-half">
                        <p class="w3-opacity">{{ answer.askApp.order }} - {{ answer.askApp.askBody }}</p>
                        <p class="w3-padding">{{ answer.answer }}</p>
                    </div>                    
                {% empty %}
                <div>No hemos encontrado las respuesta</div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}