{% extends 'base/base_tables.html' %}
{% block titulo_seccion %}
    Crear Planilla | {{ enrollmentApp.course.name }}
{% endblock %}
{% block seccion %}
    <div class="w3-row-padding">
        <div class="w3-row-padding w3-card-2">
            
        </div>
        <div class="w3-container">
            <button id="id_add" 
                    class="w3-btn w3-green w3-round" 
                    type="button"
                    onclick="$('#id_nombre_modal').html('Nueva'); $('#id_editar').hide(); $('#id_sgt_accion').show(); document.getElementById('id_modal_newapp').style.display='block'">
                <i class="fa fa-plus"></i> Nueva Pregunta
            </button>
        </div>
        <div class="w3-container" id="id_vista_previa">
            <p class="w3-opacity">Sin Preguntas</p>
        </div>        
    </div>

    <div id="id_modal_newapp" class="w3-modal">
        <div class="w3-modal-content">
            <header class="w3-container w3-teal">
                <span onclick="document.getElementById('id_modal_newapp').style.display='none'" 
                class="w3-closebtn">&times;</span>
                <h2><span id="id_nombre_modal"></span> Pregunta</h2>
            </header>

            <div class="w3-container" id="id_container_ask">
                <form method="post">
                    {% csrf_token %}
                    <div class="w3-row-padding">
                        <input type="hidden" value="" id="id_pk"/> 
                        {{ askCreateForm.app }} 
                        <div class="w3-col l12 m12 s12 w3-padding">
                            <label for="" class="w3-small w3-opacity w3-center w3-padding">
                                {{ askCreateForm.askBody.label }}
                            </label>
                            <div class="w3-padding">
                                {{ askCreateForm.askBody}}
                            </div>
                        </div>
                        <div class="w3-third w3-padding">
                            <label for="" class="w3-small w3-opacity w3-center w3-padding">
                                {{ askCreateForm.askType.label }}
                            </label>
                            <div class="w3-padding">
                                {{ askCreateForm.askType }}
                            </div>
                        </div>
                        <div class="w3-third w3-padding">
                            <label for="" class="w3-small w3-opacity w3-center w3-padding">
                                {{ askCreateForm.order.label }}
                            </label>
                            <div class="w3-padding">
                                {{ askCreateForm.order }}
                            </div>
                        </div>
                        <div class="w3-third w3-padding">
                            <label for="" class="w3-small w3-opacity w3-center w3-padding">
                                {{ askCreateForm.textMax.label }}
                            </label>
                            <div class="w3-padding">
                                {{ askCreateForm.textMax}}
                            </div>
                        </div>                       
                    </div>
                </form>
            </div>

            <div class="w3-container w3-padding" id="id_container_options">
                <h5>Opciones</h5>
                <div class="w3-container w3-padding" id="id_options_items">
                
                </div>
                <div class="w3-row-padding">
                    <div class="w3-threequarter">
                        <input id="id_nueva_opcion" type="text" class="w3-input w3-border w3-validate w3-round es-shadow" 
                            placeholder="Escriba una opción" max="250" min="10">
                    </div>
                    <div class="w3-quarter">
                        <button type="button" class="w3-btn w3-round w3-green" onclick="agregarOpcion();">
                            <i class="fa fa-plus"></i>
                        </button>
                    </div>
                </div>
                
            </div>

            <footer class="w3-container w3-teal w3-padding">
                <button 
                    id="id_sgt_accion" 
                    type="button" 
                    class="w3-btn w3-round w3-right" 
                    onclick="createForm()">
                    Listo
                </button>
                <button
                    style="display: none;"
                    id="id_editar" 
                    type="button" 
                    class="w3-btn w3-round w3-right" 
                    onclick="editarForm()">
                    Editar
                </button>                
            </footer>
        </div>
    </div>

    <script>
        $("#id_askType").change(function(){
            if (selectValue("id_askType") === "t"){
                $('#id_container_options').hide(500);
            }else{
                $('#id_container_options').show(500);
            }
        });

        $(document).ready(function(){   
            $('#id_container_options').hide()

            cargarPreguntas();
        });

        function obtenerOpciones(askApp){
            $(".option-item").map(function(iter, item){
               $.ajax({
                   url: "{% url 'view_createOptionsAjax' %}",
                   type: "POST",
                   data: {
                       askApp: askApp,
                       option: $(item).html(),
                   },
                   success: function(json){
                       console.log("Creado opcion >", $(item).html());
                   },
                   error: function(xhr, errmsg, err){
                       console.log(errmsg, err);
                   }
               });
            });
        }

        function createForm(){
            $.ajax({
                url: "{% url 'view_createFormularioAppAjax' %}",
                type: "POST",
                data: {
                    app: {{ enrollmentApp.pk }},
                    askBody: $("#id_askBody").val(),
                    askType: selectValue("id_askType"),
                    order: $("#id_order").val(),
                    textMax: $("#id_textMax").val(),
                },
                success: function(json){
                    document.getElementById('id_modal_newapp').style.display='none';
                    obtenerOpciones(json.askApp);        
                    cargarPreguntas();
                },
                error: function(xhr, errmsg, err){
                    console.log(errmsg, err);
                }
            });
        }

        function editarForm(){
            $.ajax({
                url: "{% url 'view_editarFormularioAppAjax' %}",
                type: "POST",
                data: {
                    pk: $("#id_pk").val(),
                    app: {{ enrollmentApp.pk }},
                    askBody: $("#id_askBody").val(),
                    askType: selectValue("id_askType"),
                    order: $("#id_order").val(),
                    textMax: $("#id_textMax").val(),
                },
                success: function(json){
                    document.getElementById('id_modal_newapp').style.display='none';                
                    cargarPreguntas();
                },
                error: function(xhr, errmsg, err){
                    console.log(errmsg, err);
                }
            });
        }

        function editarPlanilla(pk, askBody, askType, order, textMax){
            $("#id_pk").val(pk);
            $("#id_askBody").val(askBody);
            $("#id_order").val(order);
            $("#id_textMax").val(textMax);

            $("#id_editar").show();
            $("#id_sgt_accion").hide();

            document.getElementById('id_modal_newapp').style.display='block'; 
        }        

        function cargarPreguntas(){
            $("#id_pk").val("");
            $("#id_askBody").val("");
            $("#id_order").val("");
            $("#id_textMax").val("");
            $("#id_options_items").empty();

            $.ajax({
                url: "{% url 'view_askApplicationAllAjax' %}",
                type: "POST",
                data: {
                    app: {{ enrollmentApp.pk }},
                },
                success: function(json){
                    $("#id_vista_previa").empty();
                    json.data.map(function(item){
                        $("#id_vista_previa").append(
                            '<div class="w3-card-2 w3-padding w3-margin">' + 
                                '<small class="w3-opacity">Argumento</small>' +
                                '<h5>' + 
                                item.order + '- ' + item.askBody + '</h5>' + 
                                '<div class="w3-row">' + 
                                    '<small class="w3-quarter w3-opacity">' + 
                                    (item.askType === 'o' ? 'Opciones' : 'Texto')  + '</small>' +
                                    '<a role="button" onclick="eliminar(' + item.pk + ')" class="w3-hover-text-red w3-right w3-margin-left"><i class="fa fa-remove"></i></a>' +
                                    '<a role="button" ' + 
                                    'onclick=\'$("#id_nombre_modal").html("Editar"); editarPlanilla(' + item.pk + ', \"' + 
                                    item.askBody + '\", \"' + item.askType + '\", ' + 
                                    item.order + ', ' + item.textMax + ')\' class="w3-hover-text-teal w3-right w3-margin-left"><i class="fa fa-edit"></i></a>' +                                    
                                '</div>' +
                            '</div>'
                        );
                    });          
                },
                error: function(xhr, errmsg, err){
                    console.log(errmsg, err);
                }
            });
        }

        function agregarOpcion(){
            let input = $("#id_nueva_opcion");

            if (input.val().length > 1){
                $("#id_options_items").append(
                    "<div class='w3-card-2 w3-padding w3-margin w3-row-padding'><div class='w3-col l10 m10 s10 option-item'>" + 
                    input.val() + 
                    "</div><span class='w3-rest w3-right w3-closebtn w3-hover-text-red' onclick='eliminarOpcion(this);'>&times</span>" +
                    "</div>"
                );

                input.val("");
            }
        }

        function eliminarOpcion(elemChild){
            $(elemChild).parent().remove();
        }
    </script>
{% endblock %}