{% extends "base/base.html" %}
{% block titulo %}Nuevo Curso{% endblock %}
{% block titulo_seccion %}Nuevo Curso{% endblock %}
{% block menu %}
    {% include 'base/menu.html' %}
    <div class="w3-overlay w3-animate-opacity" onclick="w3_close()" id="myOverlay"></div>

    <header class="w3-container w3-top w3-white w3-xlarge w3-padding-16 w3-hide-large w3-hide-medium">
        <span class="w3-opennav w3-xxlarge" onclick="w3_open()">☰</span>
    </header>
{% endblock %}
{% block seccion %}
    <form method="post" enctype="multipart/form-data" class="w3-form w3-container w3-animate-right">
        {% csrf_token %}
        <div class="w3-row">
            <div class="w3-half w3-hide-small" style="color: white; margin-top: 100px;">
                <h4>Crear Asignatura</h4>
            </div>
            <div class="w3-half w3-white w3-padding w3-round" style="position: relative; margin-top: 100px;">
                <div class="w3-row-padding">
                     {{ subjectInformationForm.course }}
                    <div class="w3-col l12 m12 s12 w3-margin-top w3-padding">
                        <label for="id_name"><i class="fa fa-book w3-opacity"></i> Nombre</label>
                        {{ subjectInformationForm.name }}
                    </div>
                    <div class="w3-col l12 m12 s12 w3-margin-top w3-padding">
                        <label for="id_showCredicts"><i class="fa fa-eye w3-opacity"></i> Mostrar Créditos</label>
                        <div class="w3-row">
                            <div class="w3-col l1 m1 s1">
                                {{subjectInformationForm.showCredicts}}
                            </div>
                            <div class="w3-rest">
                                {{ subjectInformationForm.credicts }}
                            </div>
                        </div>
                    </div>
                    <div class="w3-col l12 m12 s12 w3-margin-top w3-padding">
                        <label for="id_needBallot"><i class="fa fa-drivers-license-o w3-opacity"></i> Boleta Fin Estudios</label>
                        <div class="w3-row">
                            <div class="w3-col l1 m1 s1">
                                {{subjectInformationForm.needBallot}}
                            </div>
                            <div class="w3-rest">
                                Es nececesario boleta de estudios terminados
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="w3-margin-top w3-padding">
                        <label for="id_description"><i class="fa fa-align-justify w3-opacity"></i> Descripcion</label>
                        {{ subjectInformationForm.description }}
                    </div>
                    <br><br>
                    <div class="w3-container w3-center">
                            <input type="submit" value="Crear" class="w3-btn w3-blue w3-large w3-animate-bottom w3-round-large es-shadow-large"
                                   style="background-color: #4c4b4b;">
                    </div>
                    <br>
                </div>
            </div>
        </div>
    </form>
    <script>
        $(document).ready(()=>{

            checkCredicts();            

            $("#id_showCredicts").change(
                ()=>{
                    checkCredicts();
                }
            );

            $("#id_course").val({{ coursePk }});
            
        });

        function checkCredicts(){
            if ( document.getElementById("id_showCredicts").checked )
                $("#id_credicts").show();
            else
                $("#id_credicts").hide();
        }
    </script>
{% endblock %}