{% extends "base/base.html" %}
{% block titulo %}Seleccion Curso{% endblock %}
{% block titulo_seccion %}Seleccion Curso{% endblock %}
{% block seccion %}
    <div class="w3-row" style="margin-top: 100px;">
        <div class="w3-half w3-panel w3-green w3-padding" style="color: white;">
            <h4 class="w3-padding">Has completado la solicitud de matricula :)</h4>
            <div class="w3-container w3-center">
                <a class="w3-btn w3-white w3-round-large es-shadow-large w3-text-black w3-padding" href="{% url 'view_selectcourse' student %}">Otro curso</a>
                <a class="w3-btn w3-white w3-round-large es-shadow-large w3-text-black w3-padding" href="{% url 'view_index' %}">Volver al inicio</a>
            </div>
        </div>
    </div>
{% endblock %}