body {
  background-color: #fff;
}

.bg-mi-gris {
  background-color: rgba(240, 236, 236, 0.904);
}

.bg-whatsapp {
  background-color: #6FD468;
}

.spinner-wrapper {
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner {
  position: relative;
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
}

.spinner::before,
.spinner:after {
  content: "";
  position: absolute;
  border-radius: 50%;
}

.spinner:before {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(90deg, #b1b5ec 0%, #333399 100%);
  animation: spin 0.5s infinite linear;
}
.spinner:after {
  width: 90%;
  height: 90%;
  background-color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.header {
  background-color: #555;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
  max-height: 100vh;
}

.header-min {
  background-color: #000;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 30vh;
  max-height: 30vh;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  color: #555;
}

.header::before,
.header-min::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.62);
}

.registarse {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 75vh;
}

.registarse::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

.opiniones {
  background-position: center;
  background-size: initial;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 75vh;
}

.opiniones::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

.header,
.header-min > h1,
h6,
img,
div {
  position: relative;
}

.nav-item a:hover {
  color: #010101;
}

.dropdown-menu a:hover {
  color: #555 !important;
}

.dropdown-menu a {
  color: #000 !important;
}

.text-roboto-slab {
  font-family: Roboto Slab;
}

.navbar-nav-trans {
  background-color: transparent !important;
}

.btn-inicio {
  min-width: 40vw;
}

.h-33 {
  height: 20vh;
}

@media (min-width: 480px) {
  .btn-inicio {
    min-width: 15vw;
  }

  .hor-cont {
    max-height: 100vh;
    overflow: auto;
  }

  .hor-cont-100 {
    max-height: 100vh;
    overflow: auto;
  }

  .whatsapp { display: none }
}

.text-small {
  font-size: 0.6rem;
}

.text-small-90 {
  font-size: 0.9rem;
}

.text-small-80 {
  font-size: 0.8rem;
}

.bg-black {
  background-color: #010101;
}

.google-maps {
  position: relative;
  padding-bottom: 100%;
  height: 0;
  overflow: hidden;
}

.google-maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

.v-container {
	position: relative;
	padding-bottom: 56.25%; /* proporción 16:9 */
	padding-top: 25px;
	height: 0;
}

.v-container iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.activo {
  border-bottom: 1px #007bff;
  color: #007bff;
}

.hor-cont {
  max-height: 75vh;
  overflow: auto;
}

.hor-cont-100 {
  max-height: 100vh;
  overflow: auto;
}

.img-75 {
  max-height: 50%;
}

.card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: all 0.3s;
}

.image-box {
  position: relative;
  overflow: hidden;
}

.image-box img {
  max-width: 100%;
  transition: all 0.3s;
  display: block;
  width: 100%;
  height: auto;
  max-height: 25vh;
  object-fit: cover;
  transform: scale(1);
}

image-box .img-v {
  transition: all 0.3s;
  display: block;
  width: auto;
  height: 100%;
  max-height: 50vh;
  object-fit: cover;
  transform: scale(1);
}

.image-box .img-h {
  transition: all 0.3s;
  display: block;
  width: auto;
  height: 100%;
  max-height: 25vh;
  object-fit: cover;
  transform: scale(1);
}

.image-box .img-h-enlace {
  transition: all 0.3s;
  display: block;
  width: auto;
  height: 100%;
  max-height: 30vh;
  object-fit: cover;
  transform: scale(1);
  background-color: #b1b5ec;
}

.card:hover .image-box img {
  transform: scale(1.1);
}

.image-box:hover img {
  transform: scale(1.1);
}

.flecha {
  animation: shimmy 1.5s infinite;
  animation-direction: alternate;
}

@keyframes shimmy {
  0% {
    transform: translate(0, 0);    
  }
  100% {
    transform: translate(0px, 25px);
  }
}

blockquote {
  color: #555;
  font-style: italic;
  padding: 2.5% 5%;
  background-color: #e4e4e4;
  border-radius: 10px;
}

blockquote::before{
  content: open-quote;
  font-size: xx-large;
  font-family: Roboto Slab;
}