{% extends './base.html' %}
{% load static %}
{% load thumbnail %}

{% block titulo %}Evento Detalle{% endblock titulo %}

{% block metadescripcion %}Página de Evento Detalle: {{ event.name }}. {{ event.body }}{% endblock metadescripcion %}

{% block contenido %}
<header class="header-min" id="inicio">
    {% include './menu.html' %}

    <div class="d-lg-flex ml-md-5 ml-sm-2 ml-2 text-white" style="padding-top: 10vh;">
        <h1
            data-aos="fade-right"
            data-aos-duration="700"
            data-aos-delay="350"
            class="text-roboto-slab font-weight-bold text-uppercase display-2">
            Evento
        </h1>
        <nav class="align-self-center ml-auto" aria-label="breadcrumb">
            <ol class="breadcrumb bg-transparent">
                <li class="breadcrumb-item"><a class="link-light link-primary-hover" href="{% url 'index' %}">Inicio</a></li>
                <li class="breadcrumb-item"><a class="link-light link-primary-hover" href="{% url 'eventos' %}">Eventos</a></li>
                <li class="breadcrumb-item active text-secondary" aria-current="page">Detalle</li>
            </ol>
        </nav>
    </div>
</header>

<div class="p-4 bg-white">
    <div class="row mt-4">
        <div class="col-lg-8 shadow">            
            <h2 class="display-3 text-roboto-slab">{{ event.name }}</h2>    
            
            <img src="{{ event.image.url }}" class="img-fluid mt-1"/>
            
            <div class="pt-4">
                <h2 class="display-3 text-roboto-slab">{{ event.name }}</h2>    
                <p>{{ event.body }}</p>
            </div>            
        </div>

        <div class="col-lg-4">
            <div class="mb-3">
                <a href="#" class="d-flex" data-toggle="modal" data-target="#google-maps-event">
                    <span class="material-icons text-primary">room</span> 
                    <span class="align-self-center"> {{ event.place }}</span>
                </a>
            </div>

            <div class="mb-3">
                <small class="d-flex mb-2">
                    <span class="material-icons text-primary">schedule</span> 
                    <span class="align-self-center"> Fecha{{ event.dateEnvs.all|pluralize:"s"}}</span>
                </small>
                {% for fecha in event.dateEnvs.all %} 
                    <div class="d-inline-flex border px-2 rounded {% if forloop.first %}{% else %}ml-2{% endif %}">
                        <div class="d-flex flex-column text-center text-small py-1">
                            <div class="text-primary">
                                {{ fecha.dateEnv|date:"N" }}
                            </div>
                            <div>
                                {{ fecha.dateEnv|date:"d" }}
                            </div>
                        </div>
                        <div class="ml-2 flex-fill align-self-center text-small">
                            {{ fecha.dateEnv|date:"D P A"}}
                        </div>
                    </div>
                {% endfor %}
            </div>

            <a class="d-flex mb-3" href="{{ event.file.url }}" download>
                <span class="material-icons text-primary">cloud_download</span> 
                <span class="align-self-center"> Descargar</span>
            </a>
            <div class="border-top pt-2 d-flex">
                <a href="https://twitter.com/bartoloOP?ref_src=twsrc%5Etfw" 
                class="twitter-follow-button mb-3" data-show-screen-name="false" data-lang="es" data-show-count="false">Follow @bartoloOP</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
            <div class="fb-like" data-href="https://bartolo.org{% url 'evento' event.pk %}" data-width="" data-layout="button" data-action="like" data-size="small" data-share="true"></div>
        </div>
    </div>
    <div class="modal" tabindex="-1" id="google-maps-event">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title text-dark">{{ event.name }}</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="google-maps">
                {{ event.google_maps|safe }}
              </div>
            </div>
          </div>
        </div>
      </div>
</div>
{% endblock %}

{% block importScripts %}
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v8.0" nonce="tb5tOQik"></script>
{% endblock importScripts %}
    