<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CFBC</title>

    <link rel="stylesheet" href="./bootstrap/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="./bootstrap/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="./bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="./bootstrap/css/floating-labels.css">    
</head>
<body>
    <h1>Hola Mundo</h1>
    <div class="form-label-group">
        <input type="email" id="inputEmail" class="form-control" placeholder="Correo Eléctronico" required autofocus>
        <label for="inputEmail">Correo Eléctronico</label>
      </div>
</body>
</html>